/*
*css Modules 使用原则
*1.尽量使用class选择器
*2.尽量不嵌套
*3.尽量不命名多个class
*4.使用"组合"（"composition"）实现class继承=>composes: className; || className from './another.css';
*5.按照顺序书写规则
**/
:root{ //匹配文档根元素html
  --mainColor: #c7dfeb; //变量定义在:root{}里面
}
:global(.app){ //声明一个全局规则,不会被编译成哈希字符串:<div class="app">
  text-align:center;
  width:30%;
  // 建议使用url+路径引用，不适用resolve，以避免base64没有打包进dist的情况
  background-image: url("../../assets/img/rate-repeat.png");
  background-size: 2rem 2rem;
}
.h2{
  background-color:#c7dfeb;
  color: #fff;
}

.testPostcssPresetEnv{
  color: var(--mainColor);
}
.testComposes{
  composes: testPostcssPresetEnv;
  font-size: 1rem;
}

.testPostcssAssets{
  width: width('no-result.png');
}

